
@{
    Layout = "_Layout";
}




<div class="d-flex justify-content-center">
    
    <div>
        <h2>Welcome to my birthday invitation page.</h2>
        <p>Hi @ViewBag.Name Click <a href="/Home/Invitation">here</a> for application</p>
    </div>
    </div>


