
@{
    Layout = "_Layout";
}


<div class="card" style="width: 18rem;margin:auto">
    <img src="https://dummyimage.com/286x180/000/ffffff&text=Sad+to+hear+that..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Sad news has come...</h5>
        <p class="card-text">You make me sad, i was expecting your participation.You still can add person if you want.</p>
        <a href="/" class="btn btn-primary">Return to main page</a>
    </div>
</div>



