
@{
    Layout = "_Layout";
}


<div class="card" style="width: 18rem;margin:auto">
    <img src="https://dummyimage.com/286x180/000/ffffff&text=We+will+have+a+lot+of+fun+!" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Thanks for your participation!</h5>
        <p class="card-text">We will have fun. You still can add person if you want.</p>
        <a href="/" class="btn btn-primary">Return to main page</a>
    </div>
</div>

